* {
    font-weight: 600;
    margin: 0%;
}
#app {
    width: 350px;
    height: 236px;
    margin: 5%;
    box-shadow: 0 3px 15px grey;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}
input[type=text] {
    width: 192px;
    height: 30px;
    
    text-align: right;
    color: #243849;
}
.button__num, .button__operators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 200px;
}
.button__operators {
    flex-direction: row;
    width: 150px;
}
.cell {
    flex: 32%;
    flex-wrap: wrap;
    height: 50px;
    font-size: 18px;
    border: none;
}
.cell:hover {
    background-color: #1c2c3a;
}
.op {
    height: 59px;
    flex: 50%;
}
.num {
    background-color: #243849;
    color: #fff
}
.op {
    background-color: orange;
    color: #3b5b77;
}